{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output Window Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Add output Window for {{ disbursement.application_id }}</h1>

        <div class="row mt-5">

            <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            {{ form.branch_payout_slab_in_Rs|as_crispy_field }}
            {{ form.dsa_payout_slab_in_Rs|as_crispy_field }}
            

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
    </div>
</body>
</html>
